

<h2>{{ titulo }}</h2>
<div>
  <form method="post" name="form" id="form" action="#">
    <label for="search">Buscar</label>
    <input type="text" name="search" id="search">
    <div style="display: inline-flex">
    <input type="radio" name="tipo" id="nombre" value="nombre">
    <label for="nombre">Nombre</label>
    <input type="radio" name="tipo" id="apellidos" value="apellidos">
    <label for="apellidos">Apellidos</label>
    <input type="radio" name="tipo" id="email" value="email">
    <label for="email">Email</label>
    </div>
    <input type="submit" name="enviar" id="enviar" value="Enviar">
  </form>
  <div id="result">

  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $("form").submit(function (event) {
      var formData = {
        search: $("#search").val(),
        tipo: $("input:radio[name=tipo]:checked").val(),
      };

      table="<table><caption>My table</caption><thead><tr><th>nombre de usuario</th><th>nombre</th><th>apellido1</th><th>apellido2</th><th>correo electronico</th></thead>";

      $.ajax({
        type: "POST",
        url: "prueba.php",
        data: formData,
        dataType: "json",
        encode: true,
      }).done(function (data) {
        console.log(data);
        console.log(data.usuarios)
        console.log(data.usuarios.length)
        for(let i = 0; i < data.usuarios.length; i++) {
          console.log(data.usuarios[i].email);  // (o el campo que necesites)
          table += "<tr><td>"+data.usuarios[i].name+" "+data.usuarios[i].surname1+" "+data.usuarios[i].surname2+"</td>";
          table += "<td>"+data.usuarios[i].name+"</td>";
          table += "<td>"+data.usuarios[i].surname1+"</td>";
          table += "<td>"+data.usuarios[i].surname2+"</td>";
          table += "<td>"+data.usuarios[i].email+"</td>";
          table += "</tr>";

        }
        table += "</table>";
        console.log(table);
        $("#result").html(table);
      });

      event.preventDefault();
    });
  });
</script>
